
    <h1>TIME</h1>
    <h2>People of the Year Winners!</h2>

<!-- asks the user to input two years between 1927 and 2016-->

    <p>Please choose a year range!</p>
    <form method="post">
       <input maxlength="4" placeholder="start year" name="begYear"/> - <input maxlength="4" placeholder="end Year" name="endYear"/>

        <button type="submit">Submit</button>

    </form>

